Source: furios-meta
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/furios-meta
Vcs-Git: https://github.com/furilabs/furios-meta.git

Package: furios-base
Architecture: all
Depends: ${misc:Depends},
         alsa-utils,
         apt-utils,
         ca-certificates,
         systemd-timesyncd,
         console-data,
         console-setup,
         f2fs-tools,
         lvm2,
         cryptsetup,
         droidian-encryption-service,
         file,
         kbd,
         locales,
         locales-all,
         libcanberra-pulse,
         libnss-myhostname,
         libnss-systemd,
         libpam-cap,
         bash-completion,
         gawk,
         nano,
         sudo,
         wget,
         unzip,
         xz-utils,
         bluetooth,
         dnsmasq-base,
         iw,
         network-manager,
         pulseaudio-module-bluetooth,
         net-tools,
         iputils-ping,
         rfkill,
         wireless-tools,
         wpasupplicant,
         callaudiod,
         runonce,
         systemd-resolved,
         droidian-quirks-hostname,
         droidian-quirks-waydroid,
         droidian-quirks-systemd,
         droidian-quirks-journald-standard | droidian-quirks-journald-development,
         furios-branding,
         droidian-apt-config,
         droidian-archive-keyring,
         mobian-droidian-archive-keyring,
         batman,
         batman-hybris,
         batman-wifi,
         batman2ppd,
         nfcd,
         nfcd-binder-plugin,
         nfcd-batman-plugin,
         libgbinder-tools,
         cups,
         droidian-fpd,
         droidian-fpd-client,
         dialog,
         mtp-server,
         droidian-camera,
Description: FuriOS metapackages - base
 This metapackage depends on a bunch of essential
 packages for the FuriOS installation.

Package: furios-phosh-minimal
Architecture: all
Depends: ${misc:Depends},
         furios-base (= ${binary:Version}),
         droidian-phosh-default-settings,
         adaptation-hybris-phosh,
         chatty,
         at-spi2-core,
         flatpak,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-ui-core,
         wayland-protocols,
         xdg-desktop-portal-gtk,
         xdg-desktop-portal-gnome,
         libcanberra-gtk3-module,
         plymouth,
         plymouth-theme-droidian,
         phosh-core,
         gnome-accessibility-themes,
         gnome-initial-setup,
         gnome-themes-extra-data,
         lm-sensors,
         droidian-quirks-wayland,
         droidian-quirks-gnome,
         droidian-quirks-initial-setup,
         droidian-quirks-keyring,
         droidian-quirks-pwquality,
Description: FuriOS metapackages - minimal phosh environment
 This metapackage depends on a bunch of essential
 packages for the FuriOS installation with
 the phosh mobile shell.

Package: furios-phosh-phone
Architecture: all
Depends: ${misc:Depends},
         furios-phosh-minimal (= ${binary:Version}),
         phosh-phone,
         mobile-broadband-provider-info,
         device-chassis-handset,
Description: FuriOS metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work.

Package: furios-phosh-full
Architecture: all
Depends: ${misc:Depends},
         furios-phosh-minimal (= ${binary:Version}),
         phosh-full,
         phosh-tour,
         evince,
         file-roller,
         gnome-text-editor,
         gnome-calculator,
         gnome-calendar,
         gnome-maps,
         gnome-software,
         gnome-software-plugin-flatpak,
         gnome-usage,
         gnome-weather,
         gnome-console,
         phosh-plugins,
         phosh-mobile-settings,
         portfolio-filemanager,
         pinhole,
         epiphany-browser,
         eog,
         gthd,
         qtwayland5,
         firefox-esr,
         firefox-esr-mobile-config,
         droidian-quirks-firefox,
         celluloid,
         droidian-quirks-totem-dummy,
         g4music,
         droidian-quirks-lollypop-dummy,
         getcutout,
         nfcd-tools,
         fwupd,
         fwupd-hybris,
Description: FuriOS metapackages - full phosh environment
 This metapackage depends on a bunch of packages that make
 the phosh mobile shell more complete.

Package: furios-devtools
Architecture: all
Depends: ${misc:Depends},
         openssh-server,
         pciutils,
         git,
         ifupdown,
         strace,
         gdb,
         wlr-randr,
         screen,
         libinput-tools,
         evtest,
         systemd-coredump,
         aptitude,
         droidian-quirks-journald-development,
         droidian-quirks-devtools,
         psmisc,
         psutils,
         inxi,
         dbus-x11,
Description: FuriOS metapackages - devtools
 This metapackage depends on a bunch of packages that
 aid development.

Package: furios-extras
Architecture: all
Depends: ${misc:Depends},
         webext-ublock-origin-firefox,
         qgnomeplatform-qt5,
         fonts-crosextra-caladea,
         fonts-crosextra-carlito,
         network-manager-openvpn-gnome,
         network-manager-fortisslvpn-gnome,
         network-manager-l2tp-gnome,
         network-manager-pptp-gnome,
         network-manager-sstp,
         network-manager-vpnc-gnome,
         eog-plugins,
         adwaita-qt,
         adwaita-qt6,
         chromium-sandbox,
         libtcl8.6,
         libtk8.6,
         qt6-gtk-platformtheme,
         qt6-wayland
Description: FuriOS metapackages - extras
 This metapackage depends on a bunch of packages that
 improve user experience
